<%- include('templates/header') %>
  <h1>Users</h1>
  <ul style="display: inline-block;">
    <% for (let i=0; i < users.length; i++) { %>
      <%- include('templates/users', { user: users[i], currentUserName: currentUserName }) %>
        <% } %>
  </ul>
  <%- include('templates/footer') %>